[user]
	name = Artur Sousa
	email = arturfelipe.sousa@gmail.com
[alias]
	st = status
	co = checkout
	cob = checkout -b
	cm = !git add -A && git commit -m
	slog = log --decorate --date=relative --pretty=\"format:%C(yellow)%h%C(auto)%d%C(reset) %s %C(bold blue)[%ad by %an]\"
	sglog = log --decorate --graph --date=relative --pretty=\"format:%C(yellow)%h%C(auto)%d%Creset %s %C(bold blue)[%ad by %an]\"
	olog = log --oneline --all --graph
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = true
