[user]
	name = Artur Sousa
	email = arturfelipe.sousa@gmail.com
[core]
	excludesfile = ~/.gitignore_global
  ignorecase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
[alias]
	s = status
  st = status

  ### add ###
  a = add
  ap = add -p

  ### commit ###
  c = commit
  cm = commit -m
	ca = !git add -A && git commit -m

  ### pull ###
  p = pull
  pr = pull --rebase
  pp = pull --rebase=preserve
  pb = "!git pull origin $(git branch-name)"

  ### push ###
  u = push
  ub = "!git push origin $(git branch-name)"

  ### rebase ###
  rb = rebase

  ### diff ###
  d = diff
  dc = diff --cached
  ds = diff --staged

  ### checkout ###

  o = checkout
	ob = checkout -b

  ### log ###
  l = log --graph
  lp = log -p
  lo = log --oneline --all --graph
  ll = log --decorate --date=relative --pretty=\"format:%C(yellow)%h%C(auto)%d%C(reset) %s %C(bold blue)[%ad by %an]\"
	lll = log --decorate --graph --date=relative --pretty=\"format:%C(yellow)%h%C(auto)%d%Creset %s %C(bold blue)[%ad by %an]\"

  ### clean ###
  cl = clean -ffdx

  ### general ###
  branch-name = rev-parse --abbrev-ref HEAD
